<div class="home-page">
<p>Norman North Varsity Pom</p>
	<div class="videos">
		<iframe width="560" height="315" src="http://www.youtube.com/embed/spVX8a7mA04" frameborder="0" allowfullscreen></iframe>
	</div>
<p>Norman North Varsity Team Routine</p>
	<div class="videos">
		<iframe width="560" height="315" src="http://www.youtube.com/embed/jLiaMzlXgq8" frameborder="0" allowfullscreen></iframe>
	</div>
</div>