<div class="home-page">
	<h1>Amy's Contact Info:</h1>
	<%= image_tag("profpic.png")%>
	<p>E-mail: <a href="mailto:email@address.com">a_sels@me.com</a></p>
	<p>Twitter: <a href="https://twitter.com/asels" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @asels</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
	
</div>
